<div class="flex m-auto max-w-[1440px] justify-between pt-4">
    <div>LOGO</div>
    <div class="flex gap-4">
        <a>Soluciones</a>
        <a>Cotizacion</a>
        <a>Nosotros</a>
    </div>
    <div class="flex gap-4">
        <a class="p-4 py-2 rounded-md bg-primary hover:bg-primary-600 text-white font-semibold cursor-pointer">Descargar</a>
        <a class="p-4 py-2 rounded-md border text-primary border-primary hover:border-primary-200 hover:bg-primary-50 font-semibold cursor-pointer">Iniciar sessión</a>
    </div>
</div>
